.row
  .col-md-12
    .form-group
      = qf.label :name
      = qf.text_field :name, {class: 'form-control'}
      = qf.error_messages_for(:name)
  .col-md-12
    .form-group
      = qf.label :place_of_production
      = qf.text_field :place_of_production, {class: 'form-control'}
      = qf.error_messages_for(:place_of_production)
  .col-md-12
    .form-group
      = qf.label :date_of_collection
      .input-group.date.datepicker
        = qf.text_field(:date_of_collection, value: lnil(qf.object.date_of_collection),
        class: 'form-control')
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
      = qf.error_messages_for(:date_of_collection)
