-# nested_start
.col-md-6
  %div{class: 'panel panel-'+ (i.kind_of?(Integer) ? 'success' : 'info')}
    .panel-heading
      Сорт
      = i
      %span.toright
        = link_to_remove_grapesort(pf)
      .clearfix
    .panel-body
      .row
        .col-md-12
          .form-group
            = pf.label :ratio
            = pf.text_field :ratio, {class: 'form-control'}
            = pf.error_messages_for(:ratio)
      .row
        .col-md-12
          .form-group
            %div.select_form
              = pf.label :grapesort_id
              = pf.select :grapesort_id,
              options_for_select((Grapesort.all.map{|t| [t.name + ' ' + t.place_of_production + ' ' + t.date_of_collection.to_s, t.id]} + (pf.object.new_record? ? ["*Создание нового"] : ["*Создание нового", "*Редактирование"])),
              (pf.object.grapesort_id.nil? ? "*Создание нового" : pf.object.grapesort_id)),
              {}, {class: 'form-control'}

              = pf.fields_for :grapesort, pf.object.grapesort || pf.object.build_grapesort do |qf|
                = qf.hidden_field(:id)
                %fieldset.grapesort-fieldset{"data-content" => "#{render "grapesort_relationships_varietywine_form", qf: qf}"}
                  %div.grapesort-fields
